* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fff;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

#page {
  width: 100%;
  height: 100%;
  display: flex;
  /* column-gap: 20px; */
  overflow: auto;
}

#side-bar {
  min-width: 350px;
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
  left: 0px;
  overflow-y: auto;
  border-right: 1px solid black;
}

.nav-item {
  padding: 30px 20px;
  border-bottom: 1px solid black;
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  color: black;
}

.cards-container {
  width: 100%;
  min-height: fit-content;
  background-color: hsl(220, 63%, 54%);
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 20px;
  justify-content: center;
}

.card {
  height: 180px;
  background-color: hsl(220, 63%, 84%);
  border-radius: 5px;
  box-shadow: 4px 4px 5px 0px hsl(220, 63%, 24%);
}

.card-img {
  width: 100%;
  height: 80%;
  border-radius: 5px 5px 0px 0px;
  background: var(--g1);
}

.card-title {
  height: 20%;
  /* padding: 20px 30px; */
  padding-top: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  /* background: linear-gradient(--g1, transparent); */
}
